
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpCookie
<div class="navbar-nav navbar-left mt-3 ml-3">
    @{
        if (HttpCookie.HttpContext.Request.Cookies["ATB"] != null)
        {
            string cookieContent = HttpCookie.HttpContext.Request.Cookies["ATB"].ToString();
            string[] requestedBookCount = cookieContent.Split(',');
            requestedBookCount = requestedBookCount.Where(r => r != "").ToArray();

            <div class="form-group form-inline">
                <button asp-controller="Product" asp-action="Cart" class="btn btn-info" style="height: 37.6px;">
                    <i class="fas fa-shopping-cart float-right"></i>
                    <span class="badge badge-pill badge-dark float-left ml-1">@requestedBookCount.Count()</span>
                </button>
            </div>
        }

        else
        {
            <div class="form-group form-inline">
                <button asp-controller="Product" asp-action="Cart" class="btn btn-info" style="height: 37.6px;">
                    <i class="fas fa-shopping-cart float-right"></i>
                    <span class="badge badge-pill badge-dark float-left ml-1">0</span>
                </button>
            </div>
        }
    }
</div>
