
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpCookie

@{
    if (HttpCookie.HttpContext.Request.Cookies["ATB"] != null)
    {
        string cookieContent = HttpCookie.HttpContext.Request.Cookies["ATB"].ToString();
        string[] requestedBookCount = cookieContent.Split(',');
        requestedBookCount = requestedBookCount.Where(r => r != "").ToArray();

        <div id="sabadAmanat" class="divStyle">
            <span class="div-header">سبد خرید</span>
            <div class="hr"></div>

            <div style="margin-right: 10px; margin-bottom: 15px; margin-top: 15px; font-size: 16px;">
                <span>تعداد کالا: <span id="requestCount" style="color: blue;">@requestedBookCount.Count()</span></span>
            </div>

            <div style="margin-right: 10px; margin-bottom: 15px; margin-top: 15px; font-size: 16px;">
                <a asp-controller="Product" asp-action="Cart">مشاهده سبد خرید</a>
            </div>

        </div>
    }
    else
    {
        <div id="sabadAmanat" class="divStyle">
            <span class="div-header">سبد امانات</span>
            <div class="hr"></div>

            <div style="margin-right: 10px; margin-bottom: 15px; margin-top: 15px; font-size: 16px;">
                <span>تعداد کالا: <span id="requestCount" style="color: blue;">0</span></span>
            </div>
        </div>
    }
}
