@using Microsoft.AspNetCore.Identity
@using FinalProject.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("Member"))
        {
            <li class="nav-item">
                <a class="nav-link btn-outline-dark waves-effect" asp-area="User" asp-controller="Manage" asp-action="Index">پروفایل</a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn-outline-dark waves-effect mr-3">
                    <i class="fas fa-sign-out-alt"></i>
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link btn-outline-dark waves-effect" asp-area="" asp-controller="Account" asp-action="Register">
                <i class="fas fa-user-plus"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-outline-dark waves-effect mr-3" asp-area="" asp-controller="Account" asp-action="Login">
                <i class="fas fa-sign-in-alt"></i>
            </a>
        </li>
    }
</ul>