@model IEnumerable<FinalProject.Models.News>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, FinalProject

<div class="News">
    <h5 style="margin-top: 10px;" class="text-danger">آخرین اطلاعیه‌ها</h5>
    <a style="font-size: 12px;" class="text-primary" asp-controller="News" asp-action="All">مشاهده تمام اطلاعیه‌ها</a>
    <hr />
    <div>
        @foreach (var item in Model)
        {
            <div class="NewsDiv">
                <a id="news-a" asp-controller="News" asp-action="Index" asp-route-id="@item.NewsId" target="_blank">
                    <img src="@ViewBag.imagepath@item.NewsImage" style="width:50px; height:50px;" />
                    <span class="spanNews">@item.NewsTitle</span>
                </a>
            </div>
            <div id="defaultHr"></div>
        }
    </div>
</div>
