
<div class="menu col-md-2 col-sm-auto">
    <ul>
        <li class="dashboard text-center"><a asp-controller="Manage" asp-action="Index"><i class="fas fa-chalkboard"></i> داشبورد</a></li>
        <li class="mainli openul">
            <a href="#"><i class="fas fa-caret-down"></i>مدیریت اطلاعات</a>
            <ul>
                <li><a asp-controller="Manage" asp-action="Profile"><i class="far fa-address-card"></i> پروفایل</a></li>
                <li><a asp-controller="Manage" asp-action="ChangePassword"><i class="fas fa-universal-access"></i> تغییر رمزعبور</a></li>
                <li><a asp-controller="Address" asp-action="Index"><i class="fas fa-file-alt"></i> مدیریت آدرس‌</a></li>
                <li><a asp-controller="Orders" asp-action="Index"><i class="fas fa-clipboard"></i> سفارشات</a></li>
                <li><a asp-controller="Transaction" asp-action="Index"><i class="fas fa-universal-access"></i> تراکنش‌ها</a></li>
            </ul>
        </li>
    </ul>
</div>

