
@{
    ViewData["Title"] = "تایید ایمیل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="rtl">
    <h2 class="border-success">تایید ایمیل</h2>
    <p>لطفا برای تایید ورود ایمیل خود را چک کنید</p>
</div>