@{
    ViewData["Title"] = "Access denied";
}

<header class="text-center">
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">شما به این بخش دسترسی ندارید</p>
</header>
