@{
    ViewData["Title"] = "تایید ایمیل";
}

<h2>@ViewData["Title"]</h2>
<div class="rtl">
    <p>
        آدرس ایمیل شما تایید شد. هم اکنون می‌توانید <a class="badge-success" asp-action="Login" asp-controller="Account">وارد</a> سایت شوید
    </p>
</div>
