@model FinalProject.Models.ManageViewModels.ChangePasswordViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, FinalProject

@{
    ViewData["Title"] = "تغییر رمزعبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    @Html.Partial("_UserPanel")

    <div class="col-md-5" style="margin-right: 20%; height: 50%;">
        <h4>@ViewData["Title"]</h4>
        <hr />
        <form method="post" asp-controller="Manage" asp-action="ChangePassword">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">بروزرسانی رمزعبور</button>
        </form>
    </div>
</div>

@section scripts{
    <script src="~/js/adminpanel.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

