
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.Partial("_UserPanel")
    <div class="col-md-10">

        <div class="card bg-transparent">
            <div class="card-header ">
                <div class="row justify-content-center">
                    <div class="col-md-4" id="userCount">
                        <h4 class="p-1 m-1"><i class="fas fa-box"></i> تعداد سفارشات ثبت شده</h4>
                        <p class="p-1 m-1" style="font-size: 22px;">@ViewBag.OrderCount</p>
                    </div>
                    <div class="col-md-4" id="productCount">
                        <h4 class="p-1 m-1"><i class="fas fa-box-open"></i> تعداد کالاهای خریداری شده</h4>
                        <p class="p-1 m-1" style="font-size: 22px;">@ViewBag.ProductCount</p>
                    </div>
                    <div class="col-md-3" id="productCount">
                        <h4 class="p-1 m-1"><i class="fas fa-money-bill-wave"></i> مجموع خرید انجام شده</h4>
                        <p class="p-1 m-1" style="font-size: 22px;">@string.Format("{0:n0}", ViewBag.TotalMoney) تومان</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/adminpanel.js"></script>
}

