@model FinalProject.Models.ViewModels.EditUserViewModel


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, FinalProject

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-controller="ManageUsers" asp-action="Edit">

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="FirstName">نام</label>
            <input asp-for="FirstName" class="form-control" placeholder="نام...">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="LastName">نام خانوادگی</label>
            <input asp-for="LastName" class="form-control" placeholder="نام خانوادگی...">
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email">آدرس ایمیل</label>
        <input asp-for="Email" class="form-control" type="email">
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="ApplicationRoleId"></label>
            <div class="col-lg-7">
                <select asp-for="ApplicationRoleId" asp-items="@Model.ApplicationRoles" class="form-control"></select>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="Gender">جنسیت</label>
            <select asp-for="Gender" class="form-control">
                @if (Model.Gender == 1)
                {
                    <option value="1" selected="selected">آقا</option>
                    <option value="2">خانم</option>
                }
                else
                {
                    <option value="1">آقا</option>
                    <option value="2" selected="selected">خانم</option>
                }
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">ثبت ویرایش</button>

    <input type="hidden" name="redirectUrl" value="@Url.Action("Index", "ManageUsers")" />
</form>
