@model FinalProject.Models.MultiModels

@using Microsoft.AspNetCore.Identity
@using FinalProject.Models

@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager;

@{
    ViewData["Title"] = "Home Page";
}

@section searchSection{
    <form class="navbar-nav navbar-left mt-3 ml-3">
        <div class="form-group form-inline">
            <input type="text" id="txtSearch" name="txtSearch" class="form-control" placeholder="جستجو" />
            <button asp-controller="Home" asp-action="Search" class="btn btn-default ml-2">جستجو  <i class="fas fa-search"></i></button>
        </div>
    </form>
}

@section basket{
    @Html.Partial("_Basket")
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_RecentNewsPartial", Model.LastNews)
    </div>
    <div class="col-md-9">
        @Html.Partial("_Promotion", Model.PromotionsListViewModel)
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel();
        });
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        });
    </script>
</div>

