@model FinalProject.Models.Address

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, FinalProject

@{
    ViewData["Title"] = "افزودن آدرس";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section basket{
    @Html.Partial("_Basket")
}

<div class="card bg-dark">
    <div class="card-header text-white">
        ثبت اطلاعیه
    </div>
    <div class="card-body">
        <form asp-action="AddBook" role="form" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="FullAddress" class="text-white"></label>
                    <input asp-for="FullAddress" class="form-control" />
                    <span asp-validation-for="FullAddress" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Postcode" class="text-white"></label>
                    <input asp-for="Postcode" class="form-control" />
                    <span asp-validation-for="Postcode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group d-none col-md-6">
                <input asp-for="AddressId" class="form-control" type="hidden" />
            </div>
            <div class="justify-content-center text-center">
                @if (Model.AddressId == 0)
                {
                    <div class="btn-group">

                        <button type="submit" class="btn btn-outline-success" id="submitData">
                            ثبت آدرس
                            <i class="fas fa-check"></i>
                        </button>
                    </div>
                }
                else
                {
                    <div class="btn-group">

                        <button type="submit" class="btn btn-outline-success" id="submitData">
                            ویرایش آدرس
                            <i class="fas fa-check"></i>
                        </button>
                    </div>
                }
                <div class="btn-group">
                    <a class="btn btn-outline-secondary" asp-action="Index">
                        بازگشت
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts
    {
    <script src="~/js/adminpanel.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).on('click', '#submitData', function (evt) {
            evt.preventDefault();
            var data = new FormData();

            //دریافت مقادیر موجود
            $('input').each(function (x, y) {
                data.append($(y).attr('name'), $(y).val());
            });

            //ارسال به سمت سرور
            $.ajax({
                type: "post",
                url:'@Url.Action("Add","Address",new { area = "User" })',
                contentType: false,
                processData: false,
                data: data
                //وقتی اطلاعات سمت سرور رفت و جواب گرفتیم
            }).done(function (res) {
                    if (res.status === "success") {
                        swal({
                            title: "آدرس",
                            text: res.message,
                            icon: "success",
                            button: "ادامه"
                        })
                            .then((a) => {
                                if (a) {
                                    window.location.href = '@Url.Action("Index", "Address")';
                                }
                            });
                    }
                    else {
                        $.each(res.error, function (a, b) {
                            alert(b);
                        });
                    }
                    //برای وقتی که اطلاعات سمت سرور نرفت و در همان ابتدا خطا داد
                }).fail(function (xhr, b, error) {
                    swal("خطا", error, "error");
                })
        });
    </script>
}
